@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

body
{
    background-image:url("src\bgImage.jpg");
}

html, body 
{ 
    height: 100%; 

}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
